In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
# Python 3 program to find
# the every segment size of
# array have a search key x
 
def findxinkindowSize(arr, x, k, n) :
 
    i = 0
    while i < n :
 
        j = 0
         
        # Search x in segment
        # starting from index i
        while j < k :
             
            if arr[i + j] == x :
                break
             
            j += 1
 
        # If loop didn't break
        if j == k :
            return False
 
        i += k
         
    # If n is a multiple of k    
    if i == n :
        return True
 
    j = i - k
     
    # Check in last segment if n
    # is not multiple of k.
    while j < n :
        if arr[j] == x :
            break
 
        j += 1
 
    if j == n :
        return False
 
    return True
 
# Driver Code
if __name__ == "__main__" :
 
    arr = [ 3, 5, 2, 4, 9, 3,
            1, 7, 3, 11, 12, 3 ]
    x, k = 3, 3
    n = len(arr)
     
    if (findxinkindowSize(arr, x, k, n)) :
        print("Yes")
    else :
        print("No")

Yes

In [3]:
def isPalindrome(s):
    return s == s[::-1]
 
 

s = "anna"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [4]:
s = 'anna'
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

In [5]:
print(s)

anna

In [6]:
name = "AntarcticA"

In [7]:
print(name[::-1])

AcitcratnA

In [8]:
ans2 = isPalindrome(name)

if ans2:
    print("Yes")
else:
    print("No")

No

In [9]:
ans2

False

In [10]:
# Iterative python program to reverse an array

# Function to reverse A[] from start to end
def reverseList(A, start, end):
	while start < end:
		A[start], A[end] = A[end], A[start]
		start += 1
		end -= 1

# Driver function to test above function
A = [1, 2, 3, 4, 5, 6]
n = len(A)-1
print(A)
reverseList(A, 0, n)
print("Reversed list is")
print(A)
# This program is contributed by Pratik Chhajer

[1, 2, 3, 4, 5, 6]
Reversed list is
[6, 5, 4, 3, 2, 1]

In [11]:
len(A)

6

In [12]:
arr_test2 = {0, 23, 14, 12, 9}

In [13]:
type(arr_test2)

set

In [14]:
arr_test = [0, 23, 14, 12, 9]

print(arr_test, type(arr_test))

[0, 23, 14, 12, 9] <class 'list'>

In [15]:
arr_test.sort()
print(arr_test)

[0, 9, 12, 14, 23]

In [16]:
# Create a * triangle 

def pyfunc(r):
    for x in range(r):
        print(' '*(r-x-1)+'*'*(2*x+1))

In [17]:
pyfunc(27)

                          *
                         ***
                        *****
                       *******
                      *********
                     ***********
                    *************
                   ***************
                  *****************
                 *******************
                *********************
               ***********************
              *************************
             ***************************
            *****************************
           *******************************
          *********************************
         ***********************************
        *************************************
       ***************************************
      *****************************************
     *******************************************
    *********************************************
   ***********************************************
  *************************************************
 ***************************************************
*****************************************************

In [18]:
print(' '*(7-2-1)+'*'*(2*2+1))

    *****

In [19]:
import numpy as np
import pandas as pd

In [20]:
np.array([4, 5]) < 6

array([ True,  True])

In [21]:
list_1 = [10, 5, 1]
tuple_1 = (10, 5, 1)

In [22]:
for x in list_1:
    x + 5

In [23]:
list_1

[10, 5, 1]

In [24]:
tuple_1[0]

10

In [25]:
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [26]:
# list comprehension:

my_list = [i for i in range(1, 10)]

In [27]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# Docstring:

"""
This is an example of a docstring.
"""

'\nThis is an example of a docstring.\n'

In [29]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [30]:
# Simple function:

def simple_function(a):
    return a * 2

simple_function(2)

4

In [31]:
practice = {'python': 100, "r": 30, "sql": 10}
for key, value in practice.items():
  print(key + " practice has " + str(value) + " items")

python practice has 100 items
r practice has 30 items
sql practice has 10 items

In [32]:
primes_test = []

for possiblePrime in range(2, 57):
    
    isPrime = True
    for num in range(2, possiblePrime):
        if possiblePrime % num == 0:
            isPrime = False
            print(f"{possiblePrime} is not a prime number")
    if isPrime:
        primes_test.append(possiblePrime)
        print(f"{possiblePrime} is a prime number")

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
12 is not a prime number
12 is not a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
14 is not a prime number
15 is not a prime number
15 is not a prime number
16 is not a prime number
16 is not a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
18 is not a prime number
18 is not a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number
20 is not a prime number
20 is not a prime number
20 is not a prime number
21 is not a prime number
21 is not a prime number
22 is not a prime number
22 is not a prime number
23 is a prime number
24 is not a prime number
24 is not a prime number
24 is not a prime number
24 is not a prime number
24 is not a prime number
24 is not a prime number
25 is not a prime number
26 is not a prime number
26 is not a prime number
27 is not a prime number
27 is not a prime number
28 is not a prime number
28 is not a prime number
28 is not a prime number
28 is not a prime number
29 is a prime number
30 is not a prime number
30 is not a prime number
30 is not a prime number
30 is not a prime number
30 is not a prime number
30 is not a prime number
31 is a prime number
32 is not a prime number
32 is not a prime number
32 is not a prime number
32 is not a prime number
33 is not a prime number
33 is not a prime number
34 is not a prime number
34 is not a prime number
35 is not a prime number
35 is not a prime number
36 is not a prime number
36 is not a prime number
36 is not a prime number
36 is not a prime number
36 is not a prime number
36 is not a prime number
36 is not a prime number
37 is a prime number
38 is not a prime number
38 is not a prime number
39 is not a prime number
39 is not a prime number
40 is not a prime number
40 is not a prime number
40 is not a prime number
40 is not a prime number
40 is not a prime number
40 is not a prime number
41 is a prime number
42 is not a prime number
42 is not a prime number
42 is not a prime number
42 is not a prime number
42 is not a prime number
42 is not a prime number
43 is a prime number
44 is not a prime number
44 is not a prime number
44 is not a prime number
44 is not a prime number
45 is not a prime number
45 is not a prime number
45 is not a prime number
45 is not a prime number
46 is not a prime number
46 is not a prime number
47 is a prime number
48 is not a prime number
48 is not a prime number
48 is not a prime number
48 is not a prime number
48 is not a prime number
48 is not a prime number
48 is not a prime number
48 is not a prime number
49 is not a prime number
50 is not a prime number
50 is not a prime number
50 is not a prime number
50 is not a prime number
51 is not a prime number
51 is not a prime number
52 is not a prime number
52 is not a prime number
52 is not a prime number
52 is not a prime number
53 is a prime number
54 is not a prime number
54 is not a prime number
54 is not a prime number
54 is not a prime number
54 is not a prime number
54 is not a prime number
55 is not a prime number
55 is not a prime number
56 is not a prime number
56 is not a prime number
56 is not a prime number
56 is not a prime number
56 is not a prime number
56 is not a prime number

In [33]:
primes_test

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

In [34]:
# write a function in Python to check if a word is a palindrome:

a = input(str())

b = a [::-1]

if a == b:
    print("is a palindrome")
else:
    print("not a palindrome")

anna
is a palindrome

In [35]:
# Write a function in Python that checks of a word is an anagram:

def check_words(s1, s2):
    
    if(sorted(s1) == sorted(s2)):
        print("The strings are anagrams")
    else:
        print("the strings are not anagrams")

In [36]:
check_words("save", 'vase')

The strings are anagrams

In [37]:
fruit = 'banana'
vowels = ['a', 'e', 'i', 'o', 'u']

In [38]:
for i in fruit:
    if i in vowels:
        print("Yes there is a vowel")
    else:
        print("No, there are no vowels")

No, there are no vowels
Yes there is a vowel
No, there are no vowels
Yes there is a vowel
No, there are no vowels
Yes there is a vowel

In [39]:
if any(char in vowels for char in fruit):
    print(True)
else:
    print(False)

True

In [40]:
numbers = range(1, 10)

In [41]:
range(1, 10)

range(1, 10)

In [42]:
fruits = ["mango", "banana", "guava", "kiwi", "strawberry"]

fruits.append('tomato')

In [43]:
fruits

['mango', 'banana', 'guava', 'kiwi', 'strawberry', 'tomato']

In [44]:
fruits.sort(reverse = True)
fruits

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [45]:
fruits

['tomato', 'strawberry', 'mango', 'kiwi', 'guava', 'banana']

In [46]:
def is_positive(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [47]:
# Function to get sum of digits  
def getSum(n): 
     
    sum = 0
    for digit in str(n):  
        sum += int(digit)       
    return sum
    
n = 12345
print(getSum(n))

15

In [48]:
getSum(12345) % 3 == 0

True

In [49]:
3 / 3

1.0

In [53]:
def is_multiple_of_three(number):
    def getSum(number):
        sum_test = 0
        for n in str(number):
            sum_test += int(n)
        return sum_test
    if getSum(number) / 3 == 1:
        return True
    else:
        return False

In [54]:
number = 12345

In [55]:
is_multiple_of_three(12345)

False

In [56]:
15 / 3

5.0

In [57]:
14 / 3

4.666666666666667